# TASK 1

1.Install Jupyter notebook and run the first program and share the screenshot of the output

In [118]:
print("hello world")

hello world

2.
Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [121]:
num=list(range(2000,3201,7))

for i in num :
    if i%5==0:
        continue
    else:
        print(i,end =',')

2007,2014,2021,2028,2042,2049,2056,2063,2077,2084,2091,2098,2112,2119,2126,2133,2147,2154,2161,2168,2182,2189,2196,2203,2217,2224,2231,2238,2252,2259,2266,2273,2287,2294,2301,2308,2322,2329,2336,2343,2357,2364,2371,2378,2392,2399,2406,2413,2427,2434,2441,2448,2462,2469,2476,2483,2497,2504,2511,2518,2532,2539,2546,2553,2567,2574,2581,2588,2602,2609,2616,2623,2637,2644,2651,2658,2672,2679,2686,2693,2707,2714,2721,2728,2742,2749,2756,2763,2777,2784,2791,2798,2812,2819,2826,2833,2847,2854,2861,2868,2882,2889,2896,2903,2917,2924,2931,2938,2952,2959,2966,2973,2987,2994,3001,3008,3022,3029,3036,3043,3057,3064,3071,3078,3092,3099,3106,3113,3127,3134,3141,3148,3162,3169,3176,3183,3197,

3.
Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [6]:
name = input("what is your first and last name??")
name[::-1]

what is your first and last name??vansh goel

'leog hsnav'

4.
Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r 3

In [14]:
d=12 
r=d/2
volume=4/3*3.14*r*r*r
print("volume of sphere is ",volume)

volume of sphere is  904.3199999999998

# TASK 2

1.
Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [12]:
a=input("enter numbers")

print(list(a))

enter numbers45,45,45,45,54,55,45,545454,454545454
['4', '5', ',', '4', '5', ',', '4', '5', ',', '4', '5', ',', '5', '4', ',', '5', '5', ',', '4', '5', ',', '5', '4', '5', '4', '5', '4', ',', '4', '5', '4', '5', '4', '5', '4', '5', '4']

2.
Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [37]:


for i in range(0,5,1):
    for j in range(1+i):
        print("*",end=" ")
    print("")
    

for i in range(5,0,-1):
    for j in range(i-1):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

3.
Write a Python program to reverse a word after accepting the input from the user.

In [3]:
name=input("what is your name?")
print(name[::-1])

what is your name?AcadGild
dliGdacA

4.

Write a Python Program to print the given string in the format specified in the sample output.

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens


Sample Output:

WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN, !
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
and to secure to all its citizens

SyntaxError: EOL while scanning string literal (<ipython-input-15-3df84b0e3d7e>, line 1)